<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.7.2" />
  <package id="json2" version="1.0.2" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="4.5.7" requireReinstallation="True" />
  <package id="protobuf-net" version="2.0.0.480" requireReinstallation="True" />
  <package id="SignalR" version="0.5.1" />
  <package id="SignalR.Hosting.AspNet" version="0.5.1" requireReinstallation="True" />
  <package id="SignalR.Hosting.Common" version="0.5.1" requireReinstallation="True" />
  <package id="SignalR.Js" version="0.5.1" />
  <package id="SignalR.Server" version="0.5.1.1" requireReinstallation="True" />
</packages>